.page-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.fa-play-circle {
    &:hover {
        &:before {
            content: '\f04c';
            cursor: pointer;
        }
    }
}

.fa-play-circle-o {
    &:hover {
        color: #4693b3;
        cursor: pointer;
    }
}

.player-controls {
    .btn-group-wrapper {
        text-align: center;

        .btn-group {
            display: inline-block;
            margin: 0px auto;
            padding: 7px 0px 0px 0px;
        }
    }
}

table.tracklist {
    td {
        vertical-align: middle !important;
    }
}
